#Virtual environment
venv/
venv-transportAI/
env/

# Pycharm internal files

.idea/

#Python cache

.pytest_cache/
__pycache__/

#Git internal files

.git/

#Data 
data/
examples/notebooks/
/data/

#input
output/

#output
input/

cache/