#Virtual environment
venv/
venv-isuelogit/

# Examples
examples/

# Local packages
local-packages/

# requirements
requirements/environment.yml

# Pycharm internal files
.idea/
.eggs/
cache/

#Python cache
.pytest_cache/
__pycache__/

#Git internal files
.git/

#output
output/
plots/

# Input
input/private
input/public

#extra
src/extra
src/isuelogit.egg-info/

